<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="addRecipe">
        
    </section>
    <div class="ph4" id="root">
        <input type="hidden" id="user_signed_in?" value="<%= current_user.id %>" />
    </div>
    <%= javascript_pack_tag 'recipes' %>
</body>
</html>


