<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="container">
        
    </section>
    <button class="addRecipes">Show Form</button>
    <div class="ph4" id="root">
        <div id="comments"></div>
    </div>
    <%= javascript_pack_tag 'recipes' %>
</body>
</html>

