<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%= javascript_pack_tag 'recipes' %>
</head>
<body>
    <section class="addRecipe">

    </section>
    <div class="ph4" id="root">
        <input type="hidden" id="signed_in" value="<%= user_signed_in? %>" />
    </div>
</body>
</html>


